<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.crm.qa.testcases.SignUpPageTest"/>
      <class name="com.crm.qa.testcases.FreeAccountPageTest"/>
      <class name="com.crm.qa.testcases.LoginPageTest"/>
      <class name="com.crm.qa.testcases.InvoicesPageTest"/>
      <class name="com.crm.qa.testcases.ClassicCRMTest"/>
      <class name="com.crm.qa.testcases.HomePageTest"/>
    </classes>
  </test> 
</suite> 
